# WalletConnect Project ID
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_ID_here

NEXT_PUBLIC_OG_CHAIN_RPC_URL=https://evmrpc-testnet.0g.ai
NEXT_PUBLIC_OG_CHAIN_ID=16601

# Smart Contract Addresses
OG_PRIVATE_KEY=your_private_key_here
NEXT_PUBLIC_TASK_REGISTRY_ADDRESS=0xb661D9C698Fe380ade75D1CCC59E1AD38d99B83A
NEXT_PUBLIC_PAYOUT_SPLITTER_ADDRESS=0x2D3E7f5cd97Bc0c3C032A7a1b3835eB500E09F77
NEXT_PUBLIC_VERIFIER_GATEWAY_ADDRESS=0x0A8fbba0fecd0bba27dAb9858939987b457Bfb00
NEXT_PUBLIC_NATIVE_TOKEN_ADDRESS=0x0000000000000000000000000000000000000000s

# Social Media APIs
TWITTER_API_KEY=your_twitter_api_key
TWITTER_API_SECRET=your_twitter_api_secret
TWITTER_BEARER_TOKEN=your_twitter_bearer_token
